.form {
    border: 1px solid var(--teal);
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
}

.formLabel {
    display: flex;
    margin: 8px 0;
    align-items: center;
}

.formLabel span {
    margin-right: 16px;
}

.formInput {
    padding: 8px;
    flex-grow: 1;

}
