.loan {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #fff
}

.loan.loanAvailable {
    border-color: var(--blue);
}

.loan.loanClaimed {
    border-color: var(--green);
}

.loanTitle {
    text-align: center;
    margin: 4px 0;
}
