:root {
    --red        : #db2828;
    --red-rgb    : 219, 40, 40;
    --orange     : #f2711c;
    --orange-rgb : 242, 113, 28;
    --yellow     : #fbbd08;
    --yellow-rgb : 251, 189, 8;
    --olive      : #b5cc18;
    --olive-rgb  : 181, 204, 24;
    --green      : #21ba45;
    --green-rgb  : 33, 186, 69;
    --teal       : #00b5ad;
    --teal-rgb   : 0, 181, 173;
    --blue       : #2185d0;
    --blue-rgb   : 33, 133, 208;
    --violet     : #6435c9;
    --violet-rgb : 100, 53, 201;
    --purple     : #a333c8;
    --purple-rgb : 163, 51, 200;
    --pink       : #e03997;
    --pink-rgb   : 224, 57, 151;
    --brown      : #a5673f;
    --brown-rgb  : 165, 103, 63;
    --grey       : #767676;
    --grey-rgb   : 118, 118, 118;
    --black      : #252525;
    --black-rgb  : 37, 37, 37;
    --white      : #ffffff;
    --white-rgb  : 255, 255, 255;
}
